.one {
    height: 100px;
    
    position: fixed;
    background-color: black;
    left: 0px;
    right: 0px;
}
h1 {
    position: absolute;
    color: white;
    left: 600px;
    
}
.two {
    height: 50px;
    left: 0px;
    width: 100%;
    background-color: rgb(243, 217, 115);
    position: fixed;
    bottom: 0px;
    
}
.three {
    position: absolute;
top: 150px;
}
.four {
    position: absolute;
top: 300px;
}
.five {
    position: absolute;
top: 450px;
}

